.awssld__bullets {
  bottom: 10px;
  z-index: 2;
  right: 0;
}
.awssld__bullets button {
  background: black;
  width: 8px;
  height: 8px;
  margin: 10px;
}
.awssld__bullets--active {
  background: rgb(245, 0, 87) !important;
}
.awssld__loader {
  background: green;
}
