.Home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  padding: 10px 15px;
  background-color: white;
  z-index: 1;
}
.NavigationLinks {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding-bottom: 3px;
}
.NavigationLinks :hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(245, 0, 87);
}
.LogoDiv {
  display: flex;
  align-items: center;
}
.LogoDiv img {
  width: 70px;
  margin: 0px -5px;
  padding: 0px 0px;
}
.NameDiv {
  display: flex;
  flex-direction: column;
}

.NameDiv h1 {
  font-size: 1.5rem;
}
.NameDiv p {
  letter-spacing: 6px;
  font-size: 0.8rem;
}

.ContentWrapper {
  width: 90%;
  margin: auto;
  position: relative;
}

.Js {
  margin-top: 80px;
  text-shadow: 2px 2px 1px rgb(231, 231, 231), 3px 3px 1px rgb(231, 231, 231);
  color: rgb(253, 253, 253);
  font-weight: 900;
  padding: 0px 20px;
}
.jsDiv {
  width: 100%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.imgDiv {
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin: 45px auto;
}
.imgDiv > img {
  width: 12rem;
}
.nameDiv {
  width: 70%;
  display: flex;
  text-align: left;
  flex-direction: column;
  line-height: 2.8rem;
}
.nameDiv > p {
  font-size: 0.9rem;
  color: rgb(15, 20, 30);
  letter-spacing: 5px;
}
.iconsDiv {
  display: flex;
  width: 50%;
  margin-top: 25px;
  font-size: 2rem;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.downloadButton2 {
  position: fixed;
  left: 84%;
  bottom: 5%;
  font-size: 1.8rem;
  color: white;
  display: flex;
  flex-direction: column;
  height: 140px;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

@media (min-width: 900px) {
  .Home {
    margin: 30px auto;
  }
  .jsDiv {
    width: 100%;
    font-size: 9rem;
    margin-top: -30px;
    display: flex;
    justify-content: left;
  }
  .imgWrapperDiv {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 30px;
  }
  .imgDiv {
    position: relative;
    top: -50px;
    left: 150px;
  }

  .nameDiv {
    max-width: 400px;
    font-size: 1.8rem;
    line-height: 4rem;
  }
  .NamePTag {
    font-size: 1rem;
  }
  .iconsDiv {
    width: 24%;
    margin-top: -20px;
    justify-content: space-evenly;
  }
  .downloadButton2 {
    width: 240px;
    font-size: 2.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    left: 78%;
    bottom: 3%;
    color: white;
    z-index: 5;
  }
  .LogoDiv img {
    width: 50px;
    margin: 3px 10px;
  }
}
